IS/SkolaIS/Web/Service References/Service/SchoolService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Person">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifiableObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="IdentifiableObject">
    <xs:sequence>
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentifiableObject" nillable="true" type="tns:IdentifiableObject" />
</xs:schema>