IS/SkolaIS/Web/Service References/WebService/SchoolService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5857/SchoolService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransfer" />
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransfer" minOccurs="0" name="GetPersonResult" nillable="true" type="q1:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoginValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoginValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLoginValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectId" type="xs:long" />
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element minOccurs="0" name="order" type="xs:int" />
        <xs:element minOccurs="0" name="teacherId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSupplementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>